// Colors
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$veryLightGray: hsl(0, 0%, 98%);
$lightGrayishBlue: hsl(220, 16%, 96%);